/* producto.css */
#contenedor-tarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tarjeta-producto {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 300px;
    margin: 20px;
}

.imagen-producto {
    overflow: hidden;
    display: flex;
    position: relative;
}

.imagen-producto img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.imagen-producto:hover img {
    transform: scale(1.05);
}

.vista-rapida {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: .8em;
    text-align: center;
    padding: 8px 0;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
    font-family: "Montserrat", sans-serif;
}

.imagen-producto:hover .vista-rapida {
    opacity: 1;
    transform: translateY(0);
}

.imagen-producto:hover .vista-rapida:hover {
    opacity: 1;
    transform: translateY(0);
}

.tarjeta-producto h2 {
    font-size: 1.25em;
    margin: 10px 0;
    color: #555;
}

.linea-separadora {
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

.tarjeta-producto .precio {
    color: #777;
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: bold;
}

.tarjeta-producto .precio span {
    font-weight: normal;
    color: #555;
}

.tarjeta-producto .promo {
    color: #ff7c7c;
    font-size: 1em;
    margin-top: 0;
}

.tarjeta-producto .promo span {
    font-weight: bold;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

select {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    border-radius: 0px;
    border: 1px solid #ddd;
    width: 100%;
    text-align: center;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    padding: 3px 0px;
}

select#colores:focus,
#baulera:focus {
    border-color: #ff7c7c;
}

select#colores option:checked,
#baulera:checked {
    background-color: #ff7c7c;
    color: #fff;
}

select:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
